[project]
name = "astrohack"
version = "0.0.8"
description = "Holography Antenna Commissioning Kit"
authors = [
    {name = "Jan-Willem Steeb", email="jsteeb@nrao.edu"},
    {name = "Joshua Hoskins", email="jhoskins@nrao.edu"}, 
    {name = "Victor de Souza Magalhaes", email="vdesouza@nrao.edu"}
]
license = {file = "LICENSE.txt"}
readme = "README.md"
requires-python = ">= 3.8, < 3.11"

dependencies = [
'astropy==5.2.1',
'click==8.1.3',
'dask==2023.3.2',
'dask_jobqueue==0.8.1',
'distributed==2023.3.2',
'gdown==4.7.1',
'matplotlib==3.6.3',
'memory_profiler==0.61.0',
'numba==0.56.3',
'numpy==1.22.4',
'param==1.13.0',
'plotly==5.14.0',
'prettytable==3.6.0',
'psutil==5.9.4',
'pytest==7.2.2',
'scikit_image==0.19.3',
'scipy==1.7.3',
'setuptools==65.6.3',
'Shapely==2.0.1',
'xarray==2022.12.0',
'zarr==2.13.3',
'bokeh==2.4.3',
'jupyterlab',
'python_casacore==3.5.2; sys_platform != "darwin" '
]


[project.optional-dependencies]
docs = [
    'ipykernel',
    'ipympl',
    'ipython',
    'jupyter-client',
    'nbsphinx',
    'recommonmark',
    'scanpydoc',
    'sphinx-autoapi',
    'sphinx-autosummary-accessors',
    'sphinx_rtd_theme',
    'twine',
    'pandoc'
]
